{# Componente di patternlab NON utilizzato #}

<div class="debug-background">

  {# buttons + typography #}
  {% if styleModifier %}
    <section class="{{ styleModifier }}">
      <button class="c-button">{{ styleModifier }}</button>
      <h1>h1: {{ styleModifier }}</h1>
      <h2>h2: {{ styleModifier }}</h2>
      <h3>h3: {{ styleModifier }}</h3>
      <p>paragraph: {{ styleModifier }}</p>
      <a href="#">link: {{ styleModifier }}</a>
    </section>
  {% endif %}

  {# section background #}
  {% if backgroundModifier %}
    <section class="{{ backgroundModifier }}">
      <h1 style="color: lightgray">background: {{ backgroundModifier }}</h1>
    </section>
  {% endif %}

</div>
